$color-primary: #57b894;
$color-secondary: #6C63FF;
$color-red: #FF1D1D;

$color-estado-anulada:#FD6868;
$color-estado-reagendada:#AAC46E;
$color-estado-agendada:#63A354;
$color-estado-pagada:#5F83BD;
$color-estado-atendida: #4bb6bd;
$color-estado-inclumpida: #bdb305;
$color-no-estado: #ff000f;



$color-calendario-primary: #FA0B80;
$color-calendario-secondary: #ff007d2e;

$color-grey: #A9C2D6;
$color-grey-light: #F4F4F4;
$color-grey-light4: #e5e5e5;
$color-grey-light2: #d6d6d6;
$color-grey-light3: #A9C2D6;
$color-grey-light5: #F0F0F0;
$color-grey-dark: #777;
$color-grey-dark2: #999;
$color-grey-dark3: #333;



$color-white: #FFFFFF;
$color-black: #000;

/**
    font size
 */
$default-font-size: 1.3rem;
$default-font-medium: 1.548rem;
$default-font-mock: 1.159rem;;
$font-size-medium: 2rem;
$font-size-huge: 3.3rem;
$default-font-size-icons: 2.5rem;
