<div class="main-content">
  <!--<app-header></app-header>-->
  <!--=======================================================-->
  <!--Contenido-->
  <!--=======================================================-->
  <div class="page-content u-margin-top-huge  u-center-text">
    <div class="header__logo-box">
      <img
        src="../../../assets/undraw/undraw_startman1_h7l9.svg"
        alt="Logo" class="header__logo-big" [width]="200">
    </div>
    <h1> PAGE NOT FOUND</h1>
    <p style="font-size: 10rem"> -404-</p>
  </div>
  <!--=======================================================-->
  <!--fin Contenido-->
  <!--=======================================================-->
  <app-footer></app-footer>
</div>
