<app-loader></app-loader>
<div class="  main-content">
  <app-header></app-header>
  <!--=======================================================-->
  <!--Contenido-->
  <!--=======================================================-->
  <div class="page-content ">
    <div class="ui-g">
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3 ui-lg-4"><img src="../../../assets/undraw/undraw_modern_life_u1ev.svg" alt="doctor_1"
                                                    class="img-doctor img-doctor-izq"></div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <router-outlet></router-outlet>
          </div>
          <div class="ui-g-12 ui-md-3 ui-lg-4"><img src="../../../assets/undraw/undraw_project_completed_w0oq.svg" alt="doctor_2"
                                                    class="img-doctor"></div>
        </div>
      </div>
    </div>
  </div>
  <!--=======================================================-->
  <!--fin Contenido-->
  <!--=======================================================-->
  <app-footer></app-footer>
</div>
