@mixin commun {
    &__texto {
        font-size: $default-font-medium;
        color: #001733
    }
}

.new {
    @include commun;
    &__content.azul {
        background-image: linear-gradient(to right bottom, $color-primary, $color-primary) !important;
    }
    &__content.pago {
        background-image: linear-gradient(to right bottom, $color-white, $color-white) !important;
        @include respond(land-max) {
            height: auto;
            padding-top: inherit;
        }
    }
    &__content {
        background-image: linear-gradient(to right bottom, $color-grey-light, $color-grey-light);
        //padding: 15rem 1rem 0 1rem;
        border-radius: 10px;
        position: relative;
        height: 100vh;
        width: 100%;
        @include respond(land-max) {
            height: auto;
            padding-top: 8rem;
        }
    }
    &__caption {
        color: $color-primary;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3.7rem;
        text-align: center;
        -webkit-transform: translate(0%, 82%); //&__circulo2
        transform: translate(0%, 82%);
        @include respond(phone) {
            -webkit-transform: translate(0%, 81%);
            transform: translate(0%, 81%);
        }
    }
    &__resumen {
        position: absolute;
        bottom: 0;
        background-color: $color-white;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        padding: 1rem;
        font-size: $default-font-size;
        //top: 54px;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        border: 1px solid #D5D5D5;
        overflow-x: hidden;
        padding-bottom: 5rem;
        @include respond(land-max) {
            position: relative;
        }
        &--seguro {
            font-size: 12px;
            color: $color-white;
            position: relative;
            padding: .5rem 1rem;
            border-radius: 6px;
            background-color: $color-estado-pagada;
            transform: translate(50%, -50%);
            left: 9%;
            width: 37%;
        }
        &--estado {
            font-size: 12px;
            color: $color-white;
            position: absolute;
            //top: 7px;
            right: 0;
            padding: .5rem 1rem;
            border-radius: 6px;
            margin-right: 3rem;
            &--pagada {
                background-color: $color-estado-pagada
            }
            &--anulada {
                background-color: $color-estado-anulada
            }
            &--reagendada {
                background-color: $color-estado-reagendada
            }
            &--agendada {
                background-color: $color-estado-agendada
            }
        }
        &--cambiar {
            font-size: $default-font-size;
            color: $color-secondary;
            position: absolute;
            //top: 2.8rem;
            right: 0;
            padding: .5rem 0;
            border-radius: 6px;
            margin-right: 3rem;
            @include respond(tab-port-min) {
                cursor: pointer;
            }
        }
        &--border {
            border-bottom: 2px solid #F4F4F4;
        }
        &--hora {
            font-size: 3.159rem;
            position: absolute;
            right: 3rem;
        }
        //@include respond(phone){
        //  margin-top: 1rem !important;
        //}
    }
    &__circulo2 {
        background-color: $color-white;
        margin: 0 10px 0 0 !important;
        width: 10.5rem;
        height: 10.5rem;
        float: left;
        left: 1rem;
        clip-path: circle(50% at 50% 50%);
        position: relative;
        top: -4rem;
        border-radius: 10rem;
        &--noleft {
            float: none;
        }
        @include respond(phone) {
            top: 0;
            transform: translate(-50%, -50%);
            left: 16%;
        }
        @include respond(tab-port) {
            margin: 0 10px 0 1rem !important;
        }
        @include respond(phone) {
            float: none;
            margin: 0 1px 0 34% !important
        }
    }
    &__header {
        position: absolute;
        padding: 1rem;
        box-sizing: border-box;
        overflow-x: hidden;
        padding-top: 10rem;
        width: 100%;
        bottom: 42rem;
        @include respond(land-max) {
            position: relative;
            bottom: 0;
        }
        &-nombre {
            font-size: 26px;
            color: $color-primary;
            //font-weight: bold;
            //@include respond(tab-port){
            //  font-size: 21px;
            //}
        }
        &-nombre.small {
            font-size: $default-font-medium;
        }
        &-nombre.azul {
            color: $color-white !important;
        }
        &-email {
            font-size: 12px;
        }
        &-espedialidad {
            color: $color-secondary;
            font-weight: bold;
            font-size: 12px;
            padding-top: .5rem;
        }
        //margin-left: 15rem;
    }
}

.perfil {
    &--error {
        position: absolute !important;
        top: 20% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        display: block !important;
        color: rgba($color-red, .7) !important;
    }
    &--texto {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        color: $color-primary;
    }
    &--texto .titulo {
        font-size: $font-size-medium;
        font-weight: bold;
        width: 40vh;
    }
    &--texto .contenido {
        font-size: $default-font-mock;
    }
    &--trazo.no-padding {
        padding: 0 !important;
    }
    &--trazo {
        //position: relative;
        //padding-top: 5rem;
        //padding-left: 5rem;
        padding-right: 19rem;
        //i {
        //  font-size: 69.5em;
        //  position: fixed;
        //  top: 19%;
        //  left: 50%;
        //  width: 50%;
        //  transform: translate(-50%, -50%);
        //  @include respond(tab-land){
        //    padding-right: 5rem;
        //    top: 8%;
        //    left: 16%;
        //    width: 0;
        //  }
        //  @include respond(phone){
        //    position: fixed;
        //    top: 6rem;
        //    left: -11rem;
        //  }
        //}
        i.ckeck {
            //position: absolute;
            //top: 25%;
            //left: 70%;
            //transform: translate(-50%,-50%);
            //-webkit-transform: translate(-50%, -50%);
            position: absolute;
            top: 26%;
            /* 50% sobre el objeto padre*/
            left: 50%;
            /* 50% sobre el objeto padre*/
            transform: translate( -50%, -50%);
            /* centra objetos con el 50% respecto al MISMO elemento */
            display: block;
            color: $color-white;
            font-size: 17rem;
            @include respond(tab-land) {
                //left: 46% !important;
                font-size: 15rem;
            }
            @include respond(land-max) {
                top: 16%;
            }
            //@include respond(phone){
            //  left: 32% !important;
            //}
        }
        img.comun {
            font-size: 69.5em;
            position: fixed;
            top: 19%;
            left: 50%;
            width: 50%;
            transform: translate(-50%, -50%);
            @include respond(tab-land) {
                width: 75%;
                //padding-right: 5rem;
                //top: 8%;
                //left: 16%;
            }
            @include respond(tab-port) {
                width: 100%;
                //padding-right: 5rem;
                //top: 8%;
                //left: 16%;
            }
            @include respond(phone) {
                //position: fixed;
                //top: 6rem;
                //left: -11rem;
                width: 163%;
            }
        }
        img.mensaje {
            font-size: 69.5em;
            position: fixed;
            top: 13rem;
            left: 50%;
            width: 50%;
            transform: translate(-50%, -50%);
            filter: contrast(85%);
            @include respond(tab-land) {
                width: 75%;
                height: 80vh;
                top: 3rem;
                //padding-right: 5rem;
                //top: 8%;
                //left: 16%;
            }
            @include respond(tab-port) {
                width: 100%;
                height: 70vh;
                top: 3rem;
                //padding-right: 5rem;
                //top: 8%;
                //left: 16%;
            }
            @include respond(phone) {
                //position: fixed;
                //top: 6rem;
                //left: -11rem;
                height: 66vh;
                top: 6rem;
                width: 163%;
            }
            @include respond(land-max) {
                top: 2rem;
            }
        }
        p {
            position: relative;
            color: $color-white;
            font-size: 3.2rem;
            top: -67px;
        }
        p.buscador {
            top: 0 !important;
        }
        p.buscador-appointmets {
            top: 0 !important;
            color: $color-primary;
        }
        p.cerrar {
            top: 0 !important;
            position: absolute;
            right: 0;
            color: #000;
            padding: unset;
        }
        p.label {
            text-align: center;
            font-size: 2rem;
        }
        //span{
        //  position: relative;
        //  color: $color-white;
        //  right: 29px;
        //  font-size: $default-font-size;
        //  display: none;
        //  top: -14rem;
        //  float: right;
        //  z-index: 1;
        //  @include respond(tab-land){
        //    display: block;
        //  }
        //}
        @include respond(tab-land) {
            padding-left: 2rem !important;
            padding-right: 2rem !important;
        }
        @include respond(tab-port) {
            padding-left: 7rem !important;
            padding-right: 3rem !important;
        }
        @include respond(phone) {
            padding-left: 3rem !important;
            padding-right: 3rem !important;
        }
    }
    &__resumen {
        background-color: $color-white;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        padding: 1rem;
        font-size: $default-font-size;
        @include respond(phone) {
            position: relative;
            margin-top: 5.4rem;
        }
        &--seguro {
            font-size: 12px;
            color: $color-white;
            position: relative;
            padding: .5rem 1rem;
            border-radius: 6px;
            background-color: $color-estado-pagada;
            transform: translate(50%, -50%);
            left: 9%;
            width: 37%;
        }
        &--estado {
            font-size: 12px;
            color: $color-white;
            position: absolute;
            //top: 7px;
            right: 0;
            padding: .5rem 1rem;
            border-radius: 6px;
            margin-right: 3rem;
            &--pagada {
                background-color: $color-estado-pagada
            }
            &--anulada {
                background-color: $color-estado-anulada
            }
            &--reagendada {
                background-color: $color-estado-reagendada
            }
            &--agendada {
                background-color: $color-estado-agendada
            }
        }
        &--cambiar {
            font-size: $default-font-size;
            color: $color-secondary;
            position: absolute;
            //top: 2.8rem;
            right: 0;
            padding: .5rem 0;
            border-radius: 6px;
            margin-right: 3rem;
            @include respond(tab-port-min) {
                cursor: pointer;
            }
        }
        &--border {
            border-bottom: 2px solid #F4F4F4;
        }
        &--hora {
            font-size: 3.159rem;
            position: absolute;
            right: 3rem;
        }
        @include respond(phone) {
            margin-top: 1rem !important;
        }
    }
    //&__usuario {
    //
    //  background-image: linear-gradient(to right bottom, $color-grey-light, $color-grey-light);
    //  //padding-top: 15rem;
    //  //padding-right: 2rem;
    //  //padding-left: 2rem;
    //  //padding-left: 7rem;
    //  padding: 15rem 1rem 0 1rem;
    //  border-radius: 10px;
    //  position: fixed;
    //  bottom: 0;
    //  height: 59vh;
    //  width: 30%;
    //
    //  @include respond(tab-land){
    //    //@include absCenter;
    //    position: absolute;
    //    bottom: .5rem;
    //    width: 47%;
    //    left: 25em;
    //  }
    //  @include respond(tab-port){
    //    width: 50%;
    //    padding-top: 5rem;
    //    height: 75vh;
    //    left: 24%;
    //    position: absolute;
    //  }
    //  @include respond(phone){
    //    @include absCenter;
    //    position: absolute;
    //    width: 900%;
    //    padding-top: 14rem;
    //    height: 84vh;
    //  }
    //
    //
    //}
    &__usuario {
        background-image: linear-gradient(to right bottom, $color-grey-light, $color-grey-light);
        //padding-top: 15rem;
        //padding-right: 2rem;
        //padding-left: 2rem;
        //padding-left: 7rem;
        padding: 15rem 1rem 0 1rem;
        @include respond(phone) {
            padding: 15rem 0 0 0;
        }
        border-radius: 10px;
        position: fixed;
        bottom: 0;
        height: 59vh;
        width: 30%;
        @include respond(tab-land) {
            //@include absCenter;
            position: absolute;
            bottom: 0;
            width: 47%;
            left: 25em;
        }
        @include respond(tab-port) {
            width: 50%;
            padding-top: 5rem;
            height: 75vh;
            left: 21%;
            position: absolute;
        }
        @include respond(phone) {
            @include absCenter;
            position: absolute;
            width: 100%;
            padding-top: 14rem;
            height: 84vh;
        }
    }
    &__content.azul {
        background-image: linear-gradient(to right bottom, $color-primary, $color-primary) !important;
    }
    &__content {
        background-image: linear-gradient(to right bottom, $color-grey-light, $color-grey-light);
        padding: 15rem 1rem 0 1rem;
        border-radius: 10px;
        position: fixed;
        bottom: 0;
        height: 59vh;
        width: 30%;
        @include respond(tab-land) {
            //@include absCenter;
            position: absolute;
            bottom: .5rem;
            width: 47%;
            left: 25em;
        }
        @include respond(tab-port) {
            width: 50%;
            padding-top: 5rem;
            height: 75vh;
            left: 24%;
            position: absolute;
        }
        @include respond(phone) {
            @include absCenter;
            position: absolute;
            width: 100%;
            padding-top: 14rem;
            height: 84vh;
        }
    }
    &__content-pago {
        background-image: linear-gradient(to right bottom, $color-white, $color-white);
        padding: 1rem;
        //@include respond(phone){
        //  padding: 15rem 0 0 0;
        //}
        border-radius: 10px;
        position: fixed;
        //bottom: 0;
        @include absCenter;
        width: 27%;
        @include respond(tab-land) {
            //@include absCenter;
            position: absolute;
            //bottom: 0;
            width: 47%;
        }
        @include respond(tab-port) {
            width: 50%;
            padding-top: 5rem;
            height: 75vh;
        }
        @include respond(phone) {
            @include absCenter;
            //position: absolute;
            width: 100%;
            //padding-top: 14rem;
            height: auto;
        }
    }
    &__circulo {
        background-color: $color-white;
        margin: 0 10px 0 0 !important;
        width: 11rem;
        height: 11rem;
        float: left;
        //clip-path: circle(50% at 50% 50%);
        //-webkit-clip-path: circle(50% at 50% 50%);
        border-radius: 78px;
        position: relative;
        &--noleft {
            float: none;
            @include respond(phone) {
                margin: 0 1px 0 38% !important
            }
        }
        @include respond(tab-port) {
            margin: 0 10px 0 1rem !important;
        }
        @include respond(phone) {
            margin: 0 10px 0 1.7rem !important
        }
    }
    &__circulo2 {
        background-color: $color-white;
        margin: 0 10px 0 0 !important;
        width: 10.5rem;
        height: 10.5rem;
        float: left;
        left: 1rem;
        clip-path: circle(50% at 50% 50%);
        position: relative;
        top: -4rem;
        &--noleft {
            float: none;
        }
        @include respond(phone) {
            top: 0;
            transform: translate(-50%, -50%);
            left: 16%;
        }
        @include respond(tab-port) {
            margin: 0 10px 0 1rem !important;
        }
        @include respond(phone) {
            float: none;
            margin: 0 1px 0 34% !important
        }
    }
    &__caption {
        -webkit-transform: translate(0%, 85%); //&__circulo2
        transform: translate(0%, 85%);
        color: $color-primary;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3.7rem;
        text-align: center;
        @include respond(phone) {
            -webkit-transform: translate(0%, 81%);
            transform: translate(0%, 81%);
        }
    }
    &__caption.new {
        -webkit-transform: translate(0%, 82%); //&__circulo2
        transform: translate(0%, 82%);
    }
    &__texto {
        font-size: $default-font-medium;
        color: #001733
    }
    &__header.rel {
        position: relative !important;
    }
    &__header {
        position: absolute;
        width: 96%;
        bottom: 0;
        &-datos {
            padding-bottom: 5rem;
        }
        @include respond(phone) {
            position: relative !important;
            width: 100%;
            bottom: unset;
        }
        &-nombre {
            font-size: 26px;
            color: $color-primary;
            //font-weight: bold;
            @include respond(tab-port) {
                font-size: 21px;
            }
        }
        &-nombre.small {
            font-size: $default-font-medium;
        }
        &-nombre.azul {
            color: $color-white !important;
        }
        &-email {
            font-size: 12px;
        }
        &-espedialidad {
            color: $color-secondary;
            font-weight: bold;
            font-size: 12px;
            padding-top: .5rem;
        }
        //margin-left: 15rem;
    }
    &__options {
        position: absolute;
        left: 0px !important;
        margin: 0 auto;
        font-size: 1.6rem;
        @include respond(tab-port-min) {
            cursor: pointer;
        }
        width: 100%;
        background-color: $color-white;
        //@include respond(tab-land){
        //  width: 82%;
        //}
        ul {
            list-style: none;
            margin: 0 auto; // cero top, bottom y AUTO iz, derecha
            //width: 100%;
            li {
                text-align: left;
                font-size: 1.5rem;
                padding: 2rem;
                a {
                    text-decoration: none;
                    color: $color-primary;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light;
                }
                &:active {
                    color: $color-secondary !important;
                }
            }
        }
        &-cerrar {
            color: $color-red !important;
        }
        //height: 95vh;
    }
}

.callcenter-numero {
    border: 1px solid #004b8d;
    padding: 2rem;
    font-size: 3.2rem;
    color: #004b8d;
    margin: 2rem;
    text-decoration: none;
}