<nav class="navigation" >
  <div class="navigation__footer ui-g">
    <div class="ui-g-3">
      <div class="navigation__box" routerLinkActive="active">

        <!--<button [routerLink]="['/vendors']"> &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;test </button>-->
        <div [routerLink]="['/nuevacita']" class="navigation__link">
          <div class="navigation__link-icon">
            <i class="navigation__link-icon icon-search-2" style="font-size: 2em"></i>
          </div>
          item 1
        </div>
      </div>
    </div>
    <div class="ui-g-3">
      <div class="navigation__box" routerLinkActive="active">
        <div [routerLink]="['/miscitas']" class="navigation__link">
          <div class="navigation__link-icon">
            <i class="navigation__link-icon icon-clock" style="font-size: 2em"></i>
          </div>
         item 2
        </div>
      </div>
    </div>
    <div class="ui-g-3">
      <div class="navigation__box" routerLinkActive="active">
        <div [routerLink]="['/miperfil']" class="navigation__link">
          <div class="navigation__link-icon">
            <i class="navigation__link-icon icon-perfil" style="font-size: 2em"></i>
          </div>
         item 3
        </div>
      </div>
    </div>
    <div class="ui-g-3">
      <div class="navigation__box" routerLinkActive="active">
        <div [routerLink]="['/doctores']" class="navigation__link">
          <div class="navigation__link-icon">
            <i class="navigation__link-icon icon-estetoscopio" style="font-size: 2em"></i>
          </div>
         item 4
        </div>
      </div>
    </div>
  </div>
</nav>
